<h1 id="hotler">Hotler</h1>
<p>Index your hotel and get an idea of what people say on it !</p>
<h2 id="installation-and-usage">Installation and usage</h2>
<h3 id="environment-setup">Environment setup</h3>
<p>create a virtualenv and install the required libs</p>
<pre><code class="lang-bash"><span class="hljs-meta"><span class="hljs-meta-keyword">$python</span> -m venv venv</span>
<span class="hljs-meta"><span class="hljs-meta-keyword">$source</span> activate venv/bin/activate</span>
<span class="hljs-meta"><span class="hljs-meta-keyword">$pip</span> install -r requirements.txt</span>
</code></pre>
<h3 id="ibm-keys">IBM keys</h3>
<p>Please set the <code>API_KEY</code> and <code>URL</code> of the service in the <code>Hotler/config.py</code> file.</p>
<h3 id="run-the-server">Run the server</h3>
<p>You can run the server using</p>
<pre><code class="lang-bash"><span class="hljs-meta"><span class="hljs-meta-keyword">$python</span> app.py</span>
</code></pre>
<p>The server can then be access on your localhost on port <code>8080</code></p>
<blockquote>
<p>the server link on localhost</p>
<p><code>http://127.0.0.1:8080/</code></p>
</blockquote>
<h2 id="tone-analyzer">Tone Analyzer</h2>
<p>Get an overall score on the reviews for the given hotel</p>
<h3 id="usage">Usage</h3>
<p>to use the tone analyzer service, hit <code>/analyze/</code> endpoint with the hotel name as an argument as follows</p>
<p><code>/analyzer/?q=HOTEL NAME</code></p>
<p>you will get a json response in one of the following formats</p>
<p>1.on success</p>
<pre><code class="lang-json">{
    <span class="hljs-attr">"status"</span> : <span class="hljs-string">"SUCCESS"</span>,
    <span class="hljs-attr">"scores"</span>: {
        <span class="hljs-attr">"anger"</span>: <span class="hljs-number">0.515031</span>,
        <span class="hljs-attr">"fear"</span>: <span class="hljs-number">0</span>,
        <span class="hljs-attr">"joy"</span>: <span class="hljs-number">0.6710253499999999</span>,
        <span class="hljs-attr">"sadness"</span>: <span class="hljs-number">0.5864978571428571</span>
    }
}
</code></pre>
<p>2.fail due to new hotel that is not in the db</p>
<pre><code class="lang-json">{
    <span class="hljs-attr">"status"</span> : <span class="hljs-string">"FAILED"</span>,
    <span class="hljs-attr">"error"</span>: {
        <span class="hljs-attr">"error_msg"</span>: <span class="hljs-string">"the hotel {hotel_name} doesn't exist."</span>
        }
}
</code></pre>
<p>3.fail due to some ibm error</p>
<pre><code class="lang-json">{
    <span class="hljs-attr">"status"</span> : <span class="hljs-string">"ERROR"</span>,
    <span class="hljs-attr">"error"</span>: {
        <span class="hljs-attr">"error_code"</span>: error_code,
        <span class="hljs-attr">"error_msg"</span>: error_msg
    }
}
</code></pre>
<p>You can try these links as example</p>
<p><a href="http://127.0.0.1:8080/analyze/?q=Hotel%20Roc%20Flamingo">Analyze hotel : Hotel Roc Flamingo</a></p>
<p><a href="http://127.0.0.1:8080/analyze/?q=Sheraton">Analyze hotel : Hotel Sheraton (which doesn&#39;t exist)</a></p>
<h2 id="hotel-indexer">Hotel Indexer</h2>
<p>Index all the hotels with their corresponding data.</p>
<p>To get started please add the elastic tokens in the <code>Hotler/config.py</code>, the keys we need are <code>ELASTIC_URL</code>, <code>ELASTIC_USERNAME</code> ,<code>ELASTIC_PASSWORD</code>.</p>
<p>You can use the <code>/index</code> endpoint to start indexing data in the elasticsearch db configured, this will start a background thread to load the data into an index called <code>hotels</code> and start to store data in it.</p>
<p>here is a sample of the stored data</p>
<pre><code class="lang-json">{
  <span class="hljs-attr">"_shards"</span>: {
    <span class="hljs-attr">"failed"</span>: <span class="hljs-number">0</span>, 
    <span class="hljs-attr">"skipped"</span>: <span class="hljs-number">0</span>, 
    <span class="hljs-attr">"successful"</span>: <span class="hljs-number">1</span>, 
    <span class="hljs-attr">"total"</span>: <span class="hljs-number">1</span>
  }, 
  <span class="hljs-attr">"hits"</span>: {
    <span class="hljs-attr">"hits"</span>: [
      {
        <span class="hljs-attr">"_id"</span>: <span class="hljs-string">"dDXiTnABYJL5cMN1mDT4"</span>, 
        <span class="hljs-attr">"_index"</span>: <span class="hljs-string">"hotels"</span>, 
        <span class="hljs-attr">"_score"</span>: <span class="hljs-number">1.0</span>, 
        <span class="hljs-attr">"_source"</span>: {
          <span class="hljs-attr">"Unnamed: 0"</span>: <span class="hljs-number">0</span>, 
          <span class="hljs-attr">"address"</span>: <span class="hljs-string">"Riviera San Nicol 11/a"</span>, 
          <span class="hljs-attr">"categories"</span>: <span class="hljs-string">"Hotels"</span>, 
          <span class="hljs-attr">"city"</span>: <span class="hljs-string">"Mableton"</span>, 
          <span class="hljs-attr">"country"</span>: <span class="hljs-string">"US"</span>, 
          <span class="hljs-attr">"latitude"</span>: <span class="hljs-number">45.421611</span>, 
          <span class="hljs-attr">"longitude"</span>: <span class="hljs-number">12.376187</span>, 
          <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Hotel Russo Palace"</span>, 
          <span class="hljs-attr">"postalCode"</span>: <span class="hljs-string">"30126"</span>, 
          <span class="hljs-attr">"province"</span>: <span class="hljs-string">"GA"</span>, 
          <span class="hljs-attr">"reviews.date"</span>: <span class="hljs-string">"2013-09-22T00:00:00Z"</span>, 
          <span class="hljs-attr">"reviews.dateAdded"</span>: <span class="hljs-string">"2016-10-24T00:00:25Z"</span>, 
          <span class="hljs-attr">"reviews.doRecommend"</span>: <span class="hljs-literal">null</span>, 
          <span class="hljs-attr">"reviews.id"</span>: <span class="hljs-literal">null</span>, 
          <span class="hljs-attr">"reviews.rating"</span>: <span class="hljs-number">4.0</span>, 
          <span class="hljs-attr">"reviews.text"</span>: <span class="hljs-string">"Pleasant 10 min walk along the sea front to the Water Bus. restaurants etc. Hotel was comfortable breakfast was good - quite a variety. Room aircon didn't work very well. Take mosquito repelant!"</span>, 
          <span class="hljs-attr">"reviews.title"</span>: <span class="hljs-string">"Good location away from the crouds"</span>, 
          <span class="hljs-attr">"reviews.userCity"</span>: <span class="hljs-literal">null</span>, 
          <span class="hljs-attr">"reviews.userProvince"</span>: <span class="hljs-literal">null</span>, 
          <span class="hljs-attr">"reviews.username"</span>: <span class="hljs-string">"Russ (kent)"</span>, 
          <span class="hljs-attr">"tone"</span>: {
            <span class="hljs-attr">"anger"</span>: <span class="hljs-number">0</span>, 
            <span class="hljs-attr">"fear"</span>: <span class="hljs-number">0</span>, 
            <span class="hljs-attr">"joy"</span>: <span class="hljs-number">0.766802</span>, 
            <span class="hljs-attr">"sadness"</span>: <span class="hljs-number">0.613315</span>
          }
        }, 
        <span class="hljs-attr">"_type"</span>: <span class="hljs-string">"_doc"</span>
      },
</code></pre>
